*{
    margin: 0px;
    padding: 0px;
}


html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}




/* class */


.imgheader{
    width: 100%;
}

.tituloh1{
    text-align: center;
    margin-bottom: 10px;
}

.titulosh2{
    margin-left: 5%;
    font-size: 25px;
    margin-bottom: 20px;

}

.titulosh3{
    text-align: center;

}

.clearfloat{
    clear: both;
}







.imgmomentos{
    width: 100%;
}

.txtmomentos{
    width: 100%;

}




/* id */



/* biografia */

#biografia{

}

#txtbiografia{
    width: 50%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 100px;
}

#imgbiografia{
    width: 30%;
    float: right;
    margin-left: 5%;
    margin-right: 5%;
}

#discosdesta{}
    

#txtfooter{
  
}



/* discos */
.discos{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.imgdiscos{
    width: 100%;
    object-position: center;
    
}

.txtdiscos{
    width: 100%;
    text-align: left;
}


#opera{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 5%;
}


#queenii{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#jazz{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#world{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    float: left;
}

#attack{
    width: 100%;
}

#queen{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 25%;
}

#races{
    flex: none;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 25%;
}

#innuendo{
    flex: none;
    width: 25%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
}




/* momentos*/

.momentoshistoricos{
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#barcelona{
    float: left;
    width: 40%;
    margin-left: 5%;
    border: #000 2px solid;
    padding: 3px;
}

#keep{
    float: right;
    width:  40%;
    margin-right: 5%;
    border: #000 2px solid;
    padding: 3px;
}

#impr{
    float: left;
    width: 40%;
    margin-left: 5%;
    border: #000 2px solid;
    padding: 3px;
}

#rhap{
    float: right;
    width: 40%;
    margin-right: 5%;
    border: #000 2px solid;
    padding: 3px;
}

#live{
    float: left;
    width: 40%;
    margin-left: 5%;
    border: #000 2px solid;
    padding: 3px;
}

#olimpiada{
    float: right;
    width: 40%;
    
    margin-right: 5%;
    border: #000 2px solid;
    padding: 3px;
}

#fotoolimpiadas{
    width: 100%;
  

}

#txtolimpiadas{
    width: 100%;
    
}